body {
    background-image: url(../images/background.bmp)
}

.header {
    color: white;
}

.answerButtons {
    background-color: white;
    height: 50px;
    width: 250px;
}

.container {
    background-color: white;
    padding: 50px;
}

img {
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
}